/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
nav {
  background-color: #17181d;
  color: #fcd9b8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: "Lato";
}
nav .logo img {
  max-height: 4rem;
}
nav .menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 2.4rem;
}
nav .menu-toggle.active {
  color: #e09145;
}
nav .menu {
  display: flex;
  padding: 0;
}
nav .menu li {
  margin: 0 2rem;
}
nav .menu li a {
  text-decoration: none;
  color: #fcd9b8;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.4rem;
}
nav .menu li a:hover {
  color: #e09145;
}
@media (max-width: 768px) {
  nav .menu {
    flex-direction: column;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background-color: #333;
    text-align: center;
    display: none;
    z-index: 1;
  }
  nav .menu li {
    margin: 10px 0;
  }
  nav.active .menu {
    display: flex;
  }
  nav.active + .menu-toggle {
    display: none;
  }
  nav .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
}

.hero {
  position: relative;
  height: 65.25rem; /* Equivalent to 500px (500px / 16px = 31.25rem) */
  overflow: hidden;
}
.hero .hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(41, 44, 53, 0.8), rgba(23, 24, 29, 0.8)), url("https://www.compass.com/m/c5fe6428c8194fd88a4254fcc389d9cceed6ef47_img_0_1d95e/origin.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero .hero-content .hero-title {
  font-size: 4.25rem;
  color: rgba(224, 145, 69, 0.8);
}
.hero .hero-content .hero-description {
  font-size: 2.125rem; /* Equivalent to 18px (18px / 16px = 1.125rem) */
  color: rgba(252, 217, 184, 0.8); /* Text color */
  margin-top: 1.25rem; /* Equivalent to 20px (20px / 16px = 1.25rem) */
}

@media (max-width: 48rem) {
  .hero-content .hero-title {
    font-size: 2.1rem !important;
  }
  .hero-content .hero-description {
    font-size: 1.4rem !important;
    margin-top: 0.625rem;
  }
}
.why-choose-us {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
.why-choose-us .section-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}
.why-choose-us .box {
  flex: 0 1 calc(33.33% - 2rem);
  background: linear-gradient(100deg, #2c2c2c, #404040, #2c2c2c, #404040);
  background-size: 400% 400% !important;
  animation: gradient 15s ease infinite;
  border: 1px solid #999999;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 5rem 1rem 1rem 1rem;
  text-align: center;
}
.why-choose-us .box h3 {
  font-size: 1.9rem;
  margin-bottom: 1rem;
  color: #e09145;
}
.why-choose-us .box p {
  font-size: 1.2rem;
  color: #fcd9b8;
}
.why-choose-us .box .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 1rem;
}
.why-choose-us .box .icon img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 768px) {
  .why-choose-us {
    flex-direction: column;
    align-items: center;
  }
  .why-choose-us .box {
    width: 100%;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem 0;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center; /* Center content vertically */
}
.footer .container .footer-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center; /* Center content vertically */
  justify-content: space-between;
  width: 100%;
}
.footer .container .footer-content .footer-logo {
  font-size: 1.8rem; /* Adjust font size to match text */
  align-items: center;
  display: flex;
  justify-content: center;
  width: 23%;
}
.footer .container .footer-content .footer-logo img {
  max-width: 100%;
}
.footer .container .footer-content .footer-info {
  width: 23%;
  text-align: center;
}
.footer .container .footer-content .footer-info h3 {
  color: #e09145;
  font-size: 1.8rem; /* Adjust font size as needed */
}
.footer .container .footer-content .footer-info p {
  font-size: 1.6rem; /* Adjust font size as needed */
  color: #fcd9b8;
}
.footer .container .footer-content .footer-links {
  text-align: center;
  width: 23%;
}
.footer .container .footer-content .footer-links h3 {
  color: #e09145;
  font-size: 1.8rem; /* Adjust font size as needed */
}
.footer .container .footer-content .footer-links ul {
  list-style: none;
}
.footer .container .footer-content .footer-links ul li {
  font-size: 1.6rem; /* Adjust font size as needed */
}
.footer .container .footer-content .footer-links ul li a {
  color: #fcd9b8;
  text-decoration: none;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
    align-items: center; /* Center content vertically */
  }
  .footer .container .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer .container .footer-content .footer-logo {
    margin-bottom: 1rem;
  }
  .footer .container .footer-content .footer-info,
  .footer .container .footer-content .footer-links {
    margin-bottom: 2rem;
  }
}
.real-estate-list {
  text-align: center;
}
.real-estate-list h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.real-estate-list .real-estate-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.real-estate-list .real-estate-card {
  width: calc(33.33% - 2rem);
  margin: 1rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.real-estate-list .real-estate-card img {
  max-width: 100%;
  max-height: 60%;
  height: auto;
  margin-bottom: 1rem;
}
.real-estate-list .real-estate-card .card-content {
  flex: 1;
}
.real-estate-list .real-estate-card h3 {
  font-size: 3rem;
  margin-top: 1rem;
}
.real-estate-list .real-estate-card p {
  font-size: 1.5rem;
  color: #666;
  margin: 0.5rem 0;
}
@media screen and (max-width: 48rem) {
  .real-estate-list .real-estate-card {
    width: calc(50% - 2rem);
  }
}
@media screen and (max-width: 30rem) {
  .real-estate-list .real-estate-card {
    width: 100%;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Lato";
  background-color: #999999;
}

/*# sourceMappingURL=main.css.map */
